
.hero{
    background-image: url("https://res.cloudinary.com/dlbp05ldk/image/upload/v1688817029/Guidline_D_wudqnx.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 66px;
    height: 220px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    justify-content: center;
}
.guid{
    padding: 150px;
    text-align: justify;
    padding-top: 20px;
}
.hero h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    background: #CF2E84;
    background: linear-gradient(to right, #CF2E84 0%, #CF001C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.guid p{
    color: rgb(48, 58, 68);
    
}
@media screen and (max-width: 750px) {
    .guid{
        padding: 20px;
        padding-top: 20px;
    }
    .hero{
        background-image: url("https://res.cloudinary.com/dlbp05ldk/image/upload/v1688817028/contect_us_m_490_220_px_fmv1bx.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 66px;
        height: 220px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
        justify-content: center;
    }
    .hero h1{
        font-size: 25px;
    }

}