.mainFaq1{
    
    text-align: justify;
   
}
.mainFaq1 p{
    color: rgb(57, 68, 65);
    font-weight: 600;
    margin: 20px;
}
.mainFaq1 h1{
    color: rgb(0, 109, 73);
    font-weight: 600;
}

@media screen and (max-width: 750px) {
    .mainFaq1{
    
        text-align: justify;
       
        
    }
    .mainFaq1 h1{
        font-size: 30px;
    }

}