.MainLod{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    background: rgba(151, 134, 155, 0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(180,61,204,0.25);

}
.custom-loader {
    width: 150px;
    height: 150px;
    display: grid;
}
.custom-loader::before,
.custom-loader::after {    
    content:"";
    grid-area: 1/1;
    --c: radial-gradient(farthest-side,#766DF4 92%,#0000);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: s2 1s infinite;
}
.custom-loader::before {
  margin:4px;
  filter:hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes s2{ 
  100%{transform: rotate(.5turn)}
}
.Loder1 h1{
    padding-top: 20px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    background: #CF2E84;
    background: linear-gradient(to right, #CF2E84 0%, #CF001C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}